.wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 800px;
    height: 800px;
    overflow: hidden;
    background: black;
}

.screen {
    -webkit-transform: translate(0);
            transform: translate(0);
    opacity: 0.5;
    position: absolute;
    height: 400px;
    width: 200px;
    border-radius: 16px;
    background: blue;

}

.phone-container {
-webkit-perspective: 1400px;
        perspective: 1400px;


 position: relative;
 height: 760px;
 width: 400px;
 top:150px;


}

.screen{
    transition: -webkit-transform 1s ease-out;
    transition: transform 1s ease-out;
    transition: transform 1s ease-out, -webkit-transform 1s ease-out;
    -webkit-transform-style: preserve-3d;
            transform-style: preserve-3d;
    -webkit-transform: translate(0px, 0px) rotateX(45deg) rotateY(0deg) rotateZ(-45deg);
            transform: translate(0px, 0px) rotateX(45deg) rotateY(0deg) rotateZ(-45deg);
}

.phone-container:hover > .oled {
   
    -webkit-transform: translate(0, -40px) rotateX(45deg) rotateY(0deg) rotateZ(-45deg);
   
            transform: translate(0, -40px) rotateX(45deg) rotateY(0deg) rotateZ(-45deg);
}

.phone-container:hover > .touch-panel {

    -webkit-transform: translate(0, -80px) rotateX(45deg) rotateY(0deg) rotateZ(-45deg);

            transform: translate(0, -80px) rotateX(45deg) rotateY(0deg) rotateZ(-45deg);
}
.phone-container:hover > .polarizer {

    -webkit-transform: translate(0, -120px) rotateX(45deg) rotateY(0deg) rotateZ(-45deg);

            transform: translate(0, -120px) rotateX(45deg) rotateY(0deg) rotateZ(-45deg);
}
.phone-container:hover > .glass {
    cursor: pointer;
 
    -webkit-transform: translate(0, -160px) rotateX(45deg) rotateY(0deg) rotateZ(-45deg);
 
            transform: translate(0, -160px) rotateX(45deg) rotateY(0deg) rotateZ(-45deg);
}


.phone {
    padding: 1px;
    background: black;
    border: 2pt solid silver;
    box-shadow: -3px 4px silver, 0.2px -8.2px silver inset;
}

.tags {
    top: 270px;
    left:530px;
    position: absolute;
    display: flex;
    height: 120px;

}

.phone-container:hover ~ .tags > .labels > p {
    opacity: 1;
}

.labels > p {
    opacity: 0;
    transition: opacity 0.5s ease-in-out 1s;

    height: 25px;
  

}
.labels{

   margin: -25px 0px 0px 5px;
    
    font-family: Helvetica, sans-serif;
    color: white;
    text-transform: uppercase;

}

.pointers {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.phone-container:hover ~ .tags > .pointers > div {
    width: 85px;
}



.pointers > div {

    transition: width 0.5s ease-in;
    height: 3px; 
    width: 0px;
    background-color: white;
}



.oled {
    opacity: 0.7;
    background: rgb(34, 193, 195);
    background: linear-gradient(228deg, rgba(34, 193, 195, 1) 20%, rgb(240, 140, 0) 65%, rgba(240, 150, 10, 1) 100%);

 
}



.touch-panel {
    background-size: 20px 20px;
 
    background-image:
        linear-gradient(to right, grey 1px, transparent 1px),
        linear-gradient(to bottom, grey 1px, transparent 1px);
    
}

.polarizer {

    background: rgba(255, 255, 255, 0.2);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(255, 255, 255, 0.3);
}

.glass {
   

    background: rgba(255, 255, 255, 0.2);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(255, 255, 255, 0.3);
}
.backdrop {
    position: relative;
    height: 600px;
    width: 600px; 
    -webkit-perspective: 20em; 
            perspective: 20em; 
}

.main {
    width: 100vw;
    height: 100vh;
    display: flex;
}

.backdrop:hover .feather {

    border-radius: 0%;
    cursor: pointer;
    -webkit-animation: comeBackTogether 3s infinite ease-out ;
            animation: comeBackTogether 3s infinite ease-out ;
}

.backdrop:hover #eleventh {
    opacity: 100%;
}

@-webkit-keyframes comeBackTogether {
    0%{
        top: 25%;
        left: 25%;
        height: 25%;
        width: 50%
    }
    
    50%{
        top: 0%;
        left: 0%;
        height: 100%;
        width: 100%;
        -webkit-transform: rotate(0deg);
                transform: rotate(0deg)
    }

    70% {
        top: 0%;
        left: 0%;
        height: 100%;
        width: 100%;
        -webkit-transform: rotate(0deg);
                transform: rotate(0deg)
    }

    100% {
        top: 25%;
        left: 25%;
        height: 25%;
        width: 50%
    }
}

@keyframes comeBackTogether {
    0%{
        top: 25%;
        left: 25%;
        height: 25%;
        width: 50%
    }
    
    50%{
        top: 0%;
        left: 0%;
        height: 100%;
        width: 100%;
        -webkit-transform: rotate(0deg);
                transform: rotate(0deg)
    }

    70% {
        top: 0%;
        left: 0%;
        height: 100%;
        width: 100%;
        -webkit-transform: rotate(0deg);
                transform: rotate(0deg)
    }

    100% {
        top: 25%;
        left: 25%;
        height: 25%;
        width: 50%
    }
}

.feather {
    position: absolute;
    height: 100%;
    width: 100%;
    border-radius: 50%;

}

#first{
    z-index: 2;
    background-color: #3DC7F2;
    -webkit-transform: rotate(-10deg);
            transform: rotate(-10deg);

    -webkit-clip-path: polygon(0% 40%, 20% 40%, 20% 60%);

            clip-path: polygon(0% 40%, 20% 40%, 20% 60%);
}

#second{
    background-color: #3F3AE8;
    -webkit-transform: rotate(55deg);
            transform: rotate(55deg);
    z-index: 2;
    -webkit-clip-path: polygon(20% 40%, 40% 40%, 20% 60%);
            clip-path: polygon(20% 40%, 40% 40%, 20% 60%);
}

#third{
    background-color: #3D68F2;
    -webkit-transform: rotate(20deg);
            transform: rotate(20deg);
    z-index: 2;
    -webkit-clip-path: polygon(20% 60%, 40% 40%, 30% 70%);
            clip-path: polygon(20% 60%, 40% 40%, 30% 70%);
}

#fourth{
    background-color: #3AE8E3;
    -webkit-transform: rotate(-85deg);
            transform: rotate(-85deg);
    z-index: 2;
    -webkit-clip-path: polygon(30% 70%, 40% 40%, 70% 60%);
            clip-path: polygon(30% 70%, 40% 40%, 70% 60%);
}

#fifth{
    background-color: #3F3AE8;
    -webkit-transform: rotate(5deg);
            transform: rotate(5deg);
    z-index: 1;
    -webkit-clip-path: polygon(40% 60%, 70% 60%, 40% 80%);
            clip-path: polygon(40% 60%, 70% 60%, 40% 80%);
}

#sixth{
    background-color: #3D68F2;
    -webkit-transform: rotate(90deg);
            transform: rotate(90deg);
    -webkit-clip-path: polygon(40% 90%, 50% 70%, 70% 90%);
            clip-path: polygon(40% 90%, 50% 70%, 70% 90%);
}

#seventh{
    background-color: #3DC7F2;
    -webkit-transform: rotate(210deg);
            transform: rotate(210deg);
    -webkit-clip-path: polygon(40% 40%, 80% 40%, 70% 60%);
            clip-path: polygon(40% 40%, 80% 40%, 70% 60%);
}

#eighth{
    background-color: #3AE8E3;
    -webkit-transform: rotate(120deg);
            transform: rotate(120deg);
    -webkit-clip-path: polygon(40% 40%, 60% 20%, 80% 40%);
            clip-path: polygon(40% 40%, 60% 20%, 80% 40%);
}

#ninth{
    background-color: #3F3AE8;
    -webkit-transform: rotate(40deg);
            transform: rotate(40deg);
    -webkit-clip-path: polygon(60% 20%, 90% 20%, 80% 40%);
            clip-path: polygon(60% 20%, 90% 20%, 80% 40%);
}

#tenth{
    background-color: #3D68F2;
    -webkit-transform: rotate(-10deg);
            transform: rotate(-10deg);
    -webkit-clip-path: polygon(60% 20%, 80% 0%, 100% 20%);
            clip-path: polygon(60% 20%, 80% 0%, 100% 20%);
}

#eleventh {
    opacity: 0%;
    transition: opacity 3s;
    position: absolute;
    z-index: 2;
    background-color: rgb(238, 238, 63);
    border: 2pt solid black;
    width: 20px; 
    height: 20px;
    border-radius: 50%;
    top: 10%;
    left: 80%;

}












.shadow-text_shadows__zhO50 {
    font-size: 140px;
    font-family: Lexend, impact;
   
    border-radius: 10px;
    padding: 20px 40px 20px 20px;
    -webkit-text-stroke: 2px #B243FF;
    background-color: #FFD432;
    color: #FFD432;
    opacity: 100%;
    position: relative;
    text-transform: uppercase;
    display: inline-block;
    text-shadow: 4px 4px #E84B30, 8px 8px #B243FF, 12px 12px #55CCFF, 16px 16px #49E83E ;
    -webkit-animation: shadow-text_shady__UKQFk 4s ease-in 0s infinite forwards;
            animation: shadow-text_shady__UKQFk 4s ease-in 0s infinite forwards;
}

.shadow-text_shadows__zhO50:hover {
    cursor:pointer;
}

@-webkit-keyframes shadow-text_shady__UKQFk {
    0% {
        color: #FFD432;
        background-color: #FFD432;
        -webkit-text-stroke: 2px #E84B30;
        text-shadow: 4px 4px #E84B30, 8px 8px #B243FF, 12px 12px #55CCFF, 16px 16px #49E83E ;
    }

    20% {
        color: #E84B30;
        background-color: #E84B30;
        -webkit-text-stroke: 2px #55CCFF;
        text-shadow: 4px 4px #B243FF, 8px 8px #55CCFF, 12px 12px #49E83E, 16px 16px #FFD432 ;
    }

    40% {
        color: #B243FF;
        background-color: #B243FF;
        -webkit-text-stroke: 2px #49E83E;
        text-shadow: 4px 4px #55CCFF, 8px 8px #49E83E, 12px 12px #FFD432, 16px 16px #E84B30 ;
    }

    60% {
        color: #55CCFF;
        background-color: #55CCFF;
        -webkit-text-stroke: 2px #FFD432;
        text-shadow: 4px 4px #49E83E, 8px 8px #FFD432, 12px 12px #E84B30, 16px 16px #B243FF ;
    }

    80% {
        color: #49E83E;
        background-color: #49E83E;
        -webkit-text-stroke: 2px #E84B30;
        text-shadow: 4px 4px #FFD432, 8px 8px #E84B30, 12px 12px #B243FF, 16px 16px #55CCFF ;
    }

}

@keyframes shadow-text_shady__UKQFk {
    0% {
        color: #FFD432;
        background-color: #FFD432;
        -webkit-text-stroke: 2px #E84B30;
        text-shadow: 4px 4px #E84B30, 8px 8px #B243FF, 12px 12px #55CCFF, 16px 16px #49E83E ;
    }

    20% {
        color: #E84B30;
        background-color: #E84B30;
        -webkit-text-stroke: 2px #55CCFF;
        text-shadow: 4px 4px #B243FF, 8px 8px #55CCFF, 12px 12px #49E83E, 16px 16px #FFD432 ;
    }

    40% {
        color: #B243FF;
        background-color: #B243FF;
        -webkit-text-stroke: 2px #49E83E;
        text-shadow: 4px 4px #55CCFF, 8px 8px #49E83E, 12px 12px #FFD432, 16px 16px #E84B30 ;
    }

    60% {
        color: #55CCFF;
        background-color: #55CCFF;
        -webkit-text-stroke: 2px #FFD432;
        text-shadow: 4px 4px #49E83E, 8px 8px #FFD432, 12px 12px #E84B30, 16px 16px #B243FF ;
    }

    80% {
        color: #49E83E;
        background-color: #49E83E;
        -webkit-text-stroke: 2px #E84B30;
        text-shadow: 4px 4px #FFD432, 8px 8px #E84B30, 12px 12px #B243FF, 16px 16px #55CCFF ;
    }

}



/*# sourceMappingURL=main.fd13b681.css.map*/