.wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 800px;
    height: 800px;
    overflow: hidden;
    background: black;
}

.screen {
    transform: translate(0);
    opacity: 0.5;
    position: absolute;
    height: 400px;
    width: 200px;
    border-radius: 16px;
    background: blue;

}

.phone-container {
perspective: 1400px;


 position: relative;
 height: 760px;
 width: 400px;
 top:150px;


}

.screen{
    transition: transform 1s ease-out;
    transform-style: preserve-3d;
    transform: translate(0px, 0px) rotateX(45deg) rotateY(0deg) rotateZ(-45deg);
}

.phone-container:hover > .oled {
   
    transform: translate(0, -40px) rotateX(45deg) rotateY(0deg) rotateZ(-45deg);
}

.phone-container:hover > .touch-panel {

    transform: translate(0, -80px) rotateX(45deg) rotateY(0deg) rotateZ(-45deg);
}
.phone-container:hover > .polarizer {

    transform: translate(0, -120px) rotateX(45deg) rotateY(0deg) rotateZ(-45deg);
}
.phone-container:hover > .glass {
    cursor: pointer;
 
    transform: translate(0, -160px) rotateX(45deg) rotateY(0deg) rotateZ(-45deg);
}


.phone {
    padding: 1px;
    background: black;
    border: 2pt solid silver;
    box-shadow: -3px 4px silver, 0.2px -8.2px silver inset;
}



.oled {

    background-size: 20px 20px;
 
    background-image:
        linear-gradient(to right, grey 1px, transparent 1px),
        linear-gradient(to bottom, grey 1px, transparent 1px);
    
}



.touch-panel {

    background: rgb(34, 193, 195);
    background: linear-gradient(228deg, rgba(34, 193, 195, 1) 20%, rgb(240, 140, 0) 65%, rgba(240, 150, 10, 1) 100%);
}

.polarizer {

    background: rgba(255, 255, 255, 0.2);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(255, 255, 255, 0.3);
}

.glass {
   

    background: rgba(255, 255, 255, 0.2);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(255, 255, 255, 0.3);
}